{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

    <div class="profile-container text-center">

      {% if sidebar.avatar %}
      <img class="avatar-lg" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="Profile Picture" />
      {% endif %}

      {% if sidebar.name %}
      <h1 class="name full-name">{{ sidebar.name }}</h1>
      {% endif %}

      {% if sidebar.tagline %}
      <p class="tagline text-muted">{{ sidebar.tagline }}</p>
      {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
