/* styles-6 variables */
$theme-color: #242628;
$text-color: #3F4650;
$text-color-secondary: #383838;
$text-grey: #808080;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$heart: #fb866a;
